@use "../assets/colors";
$logoWidth: 205px;
$logoHeight: 77px;

:host {
  background-color: colors.$main;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: white;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 8px 16px;
}

.logo__container {
  position: relative;
  min-width: 205px;
  min-height: 77px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}
