<div class="background">
  <video
    class="video"
    src="/assets/shortSynapses.mp4"
    loop
    autoplay
    muted
    [playbackRate]="videoPlaybackRate"
    (ended)="switchPlaybackRate()"
  ></video>
</div>
<div class="content">
  <h1>
    Best Memory Game <br />
    Of The Century
  </h1>
  <p>
    Unmatched minimalism combined with an outstanding gameplay formula makes for
    one of, if not the best, games of the century! Start memorizing today!
  </p>
  <button routerLink="/memo-game">PLAY NOW</button>
</div>
